.GameControls {
  text-align: center;
  border: 3px solid rgb(60, 139, 172);
}

.IsWalkable {
  color: green;
}

.IsNotWalkable {
  color: red;
}

.Info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Section {
  border-block: 2px solid rgb(60, 139, 172);

  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Button {
  align-self: anchor-center;
  background-color: transparent;
  border: 1px solid #2d1e3c;
  border-radius: 8px;

  &:hover:not(:disabled) {
    background-color: rgb(59, 59, 204);
    color: white;
  }
}
