.CanvasWrapper {
  position: relative;
  border: 3px solid rgb(60, 139, 172);
}

.CanvasLayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Terrain {
  z-index: 10;
}

.Unit {
  z-index: 20;
}

.Movement {
  z-index: 30;
}

.Highlight {
  z-index: 40;
}

.Pointer {
  cursor: pointer;
}

.Move {
  cursor: move;
}

.Building {
  cursor: help;
}
